<template name="Home">
  <div class="demo-charts urgent-tasks mdl-color--teal-500 mdl-color-text--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
    <h3>Обов’язкові задачі</h3>
    {{#each tasks}}
      {{> Card title=title from=from to=to color="mdl-color--teal-200"}}
    {{/each}}
  </div>
  <div class="demo-charts free-time-tasks mdl-color--blue-grey-500 mdl-color-text--white mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-grid">
    <h3>Задачі у вільний час</h3>
    {{#each tasks}}
      {{> Card title=title from=from to=to color="mdl-color--blue-grey-200"}}
    {{/each}}
  </div>
</template>