<template name="Organizer">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="title">
    <label class="mdl-textfield__label" for="title">Назва завдання</label>
  </div>
  <input type="text" class="form-control" id="from">
  <input type="text" class="form-control" id="to">
  <br>
  <div>
    <ul>
      {{#each tasks}}
        <li>{{title}} ({{from}} - {{to}})</li>
      {{/each}}
    </ul>
    <br>
  </div>
  <button class="add-task mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Додати завдання
  </button>
</template>