<template name="Organizer">
  <div class="organizer">

    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="title">
      <label class="mdl-textfield__label" for="title">Назва завдання</label>
    </div>
    <input type="text" class="mdl-textfield__input datepicker form-control" id="from">
      <span>Дата початку</span>
    <input type="text" class="mdl-textfield__input datepicker form-control" id="to">
      <span>Дата закінчення</span>
    <br>
    <br>

    <button class="add-task mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Додати завдання
    </button>

  </div>
</template>